<ion-view title="Super Admin" id="page9" style="background: url('img/bg.png') no-repeat center;background-size:cover;" >
  <ion-content padding="true" class="has-header">
    
      <button class="button button-full button-energized button-bg" ng-click="gotoWebsite()"style="">
         Administration
      </button>
      <!--<button class="button button-full button-energized button-bg" style="">
          Top Management
      </button>
      <button class="button button-full button-energized button-bg" style="">
          Mandal Level Management
      </button>
      <button class="button button-full button-energized button-bg"  style="">
          Public News
      </button>
      <button class="button button-full button-energized button-bg"  style="">
          Public Events
      </button>
      <button class="button button-full button-energized button-bg"  style="">
          Publish Campaigns
      </button>-->
     

  </ion-content>

    <style>
        .button-bg{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8be41b+0,4faa0b+100 */
background: #8be41b !important; /* Old browsers */
background: -moz-linear-gradient(top, #8be41b 0%, #4faa0b 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8be41b 0%,#4faa0b 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8be41b 0%,#4faa0b 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be41b', endColorstr='#4faa0b',GradientType=0 ) !important; /* IE6-9 */ border-bottom:2px solid #406f05; color:#fff; font-weight:600;
        }
    </style>
</ion-view>